<main class="main">
  <div class="col-12">
    <div class="image-container">
      <img src="assets/images/clean-purple.jpg" alt="clean-purple" class="clean-purple">
      <div class="button-container">
        <button id="knowMeButton" class="btn btn-primary btn-lg">
          Know about Me
        </button>
      </div>
    </div>
  </div>
</main>

<body>
</body>

<footer id="footer-text">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <p class="footerName">Giada Del Testa</p>
      </div>
    </div>
  </div>
</footer>

<router-outlet />
